    <div class="zTreeDemoBackground left" >
        <li class="new_suit" id="add_folder" onclick="addCases()"><button class="btn btn-primary btn-xs" >新建用例集</button></li>
        <ul id="treeDemo" class="ztree"></ul>
    </div>
    <div class="rMenu" id="rMenu">
	    <ul>
            <li id="m_add_folder" onclick="addFolderNode()"><i class="glyphicon glyphicon-folder-close"></i> &nbsp;新建子suit</li>
            <li id="m_add_case" onclick="addCaseNode()"><i class="glyphicon glyphicon-file"></i> &nbsp;新建用例</li>
            <li id="m_rename" onclick="editName();"><i class="glyphicon glyphicon-italic"></i>  &nbsp;重命名</li>
            <li id="m_del" onclick="removeTreeNode();"><i class="glyphicon glyphicon-trash"></i> &nbsp;删除</li>
	    </ul>
    </div>



