{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% endblock %}

{% block body_class %}home{% endblock %}


{% block body_base %}
    {% include "_subnav.html" %}
        <div class="row wrapper">
            <div class="sidebar">
                {% block nav-sidebar %}
                    {% include "_navigation_side.html" %}
                {% endblock %}
            </div>
            <div class="main"
                 style="border-left:1px solid #eee;margin:5px 20px 5px 20px;padding:5px 10px 5px 40px">
                {% block main %}
                {% endblock %}
            </div>
        </div>
{% endblock %}
